.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.columna {
    background: green;
    width: 180px;
}
.columna:nth-child(1) {
    height: 200px;
}
.columna:nth-child(2) {
    height: 700px;
}
.columna:nth-child(3) {
    height: 400px;
}
.columna:nth-child(4) {
    height: 600px;
}
.columna:nth-child(even) {
    background: pink;
}
.columna:nth-child(odd) {
    background: orange;
}
.contenedor2 .columna {
    float: left;
}